body {
    font-size: 18px;
    font-family: 'Jaldi', sans-serif;
}

nav span.w3-right a {
    font-size: 2.4rem;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

span.w3-allerta {
  font-family: "Allerta Stencil", Sans-serif;
}

.w3-bar .w3-bar-item {
  font-size: 6rem;  
    
}

/* === SHOWCASE === */
section.showcase {
  background: url('../img/showcase.jpg') no-repeat;
  min-height: 600px;
  background-position: center;
  padding: 140px 100px;
  color: #fff;
  text-shadow: 0 2px 3px #000;
}

section.showcase h1 {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase; 
}

#start {
  padding: 15px 25px;
  color: #fff;
  text-shadow: 0 2px 4px #000;
}


section.showcase hr {
  width: 100px;
  margin: auto;
  border-width: 3px;
  border-color: powderblue;
}

section.showcase p {
  padding-bottom: 20px;
  font-size: 120%;
}

section.section {
  padding: 40px;
}

section.section h2 {
  padding: 0;
  margin: 0;
}

section.section .fa {
  font-size: 50px;
}

section.section img {
  width: 100%;
}


section h1 {
  text-transform: uppercase;
}


footer {
  padding: 6px 0;
  margin-top: 100px;
}


/* === MEDIA QUERIES ===*/
@media only screen and (max-width:600px) {
  body {
    margin-top: 300px;
  }

  section.showcase {
    height: 400px;
    padding: 60px 0;
  }
}
