body {
    font-size: 14px;
    font-family: 'Jaldi', sans-serif;
}

nav span.w3-right a {
    font-size: 3rem;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

span.w3-allerta {
  font-family: "Allerta Stencil", Sans-serif;
}

.w3-bar .w3-bar-item {
  font-size: 4rem;  
    
}